<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.appspot.avatartravel.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleTask</servlet-name>
    <servlet-class>com.appspot.avatartravel.ArticleTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Article</servlet-name>
    <servlet-class>com.appspot.avatartravel.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Blog</servlet-name>
    <servlet-class>com.appspot.avatartravel.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleTask</servlet-name>
    <url-pattern>/task/article</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Article</servlet-name>
    <url-pattern>/cron/article</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Blog</servlet-name>
    <url-pattern>/blog/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Encoding</filter-name>
    <filter-class>com.appspot.avatartravel.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/task/*</url-pattern>
      <url-pattern>/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
